fieldset{
 width: 750px;
 margin: 10px auto;
 font-family: Helvetica;
 padding: 15px;
}

h1,h2{
 text-align: center;
}

p{
 text-align: justify;
}

.direita{
 text-align: right;
}

.center{
 text-align: center;
}
